.expenses-container {
    text-align: center;
    margin-top: 20px;
}

.expenses-list {
    list-style-type: none;
    padding: 0;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.category {
    font-weight: bold;
}

.amount {
    font-size: 1.2rem;
}

.delete-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

    .delete-btn:hover {
        background-color: #cc0000;
    }
